.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    position: sticky;
    top: 0;
    padding: 15px 2%;
    transition: top 0.4s;
}

.profile-links, .right-links {
    display: flex;
    justify-content: space-between;
}

.right-links a {
    margin: 0px 15px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.home-link {
    font-size: 2rem;
}
